In [1]:
import pandas as pd

## Series

* Series é um tipo de dado que tem um índice acompanhado de um valor

In [6]:
data = [2,4,6,8,10]

In [7]:
s_data = pd.Series(data)

In [8]:
s_data

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [9]:
index = ['Linha' + str(i) for i in range(5)]

In [10]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [11]:
s_data = pd.Series(data = data, index = index)

In [12]:
s_data

Linha0     2
Linha1     4
Linha2     6
Linha3     8
Linha4    10
dtype: int64

In [16]:
data = {'Linha' + str(i) : i + 2 for i in range(5)}

In [17]:
data

{'Linha0': 2, 'Linha1': 3, 'Linha2': 4, 'Linha3': 5, 'Linha4': 6}

In [18]:
s_data = pd.Series(data)
s_data

Linha0    2
Linha1    3
Linha2    4
Linha3    5
Linha4    6
dtype: int64

In [21]:
s1 = s_data + 2

In [22]:
s1

Linha0    0
Linha1    1
Linha2    0
Linha3    1
Linha4    0
dtype: int64

## DataFrames

In [23]:
data = [[1,2,3], [4,5,6], [7,8,9]]

In [24]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:
df_data = pd.DataFrame(data)

In [26]:
df_data

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [31]:
index = ['Linha ' + str(i) for i in range(3)]
index

['Linha 0', 'Linha 1', 'Linha 2']

In [32]:
df_data = pd.DataFrame(data, index)
df_data

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9