# Relatório de Análise IV

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('Datas/aluguel_residencial.csv', sep=';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

## Selecione somente os imóveis classificados com tipo 'Apartamento'

In [3]:
selection = dados['Tipo'] == 'Apartamento'
n1 = dados[selection].shape[0]
n1

19532

## Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Cada de Vila'

In [4]:
selection = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Cada de Vila')
n2 = dados[selection].shape[0]
n2

1963

## Selecione os imóveis com área entre 60 e 100 metros quadrado, incluindo os limites

In [7]:
selection = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selection].shape[0]
n3

8719

## Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00

In [8]:
selection = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selection].shape[0]
n4

41

In [11]:
print(f'{selection}')

0        False
1        False
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Length: 22580, dtype: bool

In [12]:
print(f'Nº de imóveis classificados com o tipo "Apartamento": {n1}')
print(f'Nº de imóveis classificados com o tipo "Casa", "Casa de Condomínio" e "Casa de Vila": {n2}')
print(f'Nº de imóveis com área entre 60 e 100 metros quadrado, incluindo os limites: {n3}')
print(f'Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: {n4}')

Nº de imóveis classificados com o tipo "Apartamento": 19532
Nº de imóveis classificados com o tipo "Casa", "Casa de Condomínio" e "Casa de Vila": 1963
Nº de imóveis com área entre 60 e 100 metros quadrado, incluindo os limites: 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: 41